<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Go App with htmx</title>
        <!-- <script type="text/javascript" src="static/unmtest.js" crossorigin></script> -->
        <script src="static/htmx.min.js" crossorigin></script>
        <!-- <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script> -->
    </head>
    <body>
        <h1>Welcome to My Go App with htmx</h1>
        <button hx-get="/load" hx-target="#dynamic-content">Load Content</button>
        <div id="dynamic-content"></div>

        <input type="text" name="q"
            hx-get="/trigger_delay"
            hx-trigger="keyup changed delay:500ms"
            hx-target="#search-results"
            placeholder="Search...">
        <div id="search-results"></div>

    </body>
</html>
